VARA_ARCHIVE_URL=https://v2.archive.subsquid.io/network/vara-testnet
VARA_RPC_URL=wss://testnet.vara.network
VARA_FROM_BLOCK=
VARA_PROGRAM_ID=
VARA_IDL_PATH=./idl/app.idl
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sails_indexer
INDEXER_PORT=4350
INDEXER_CORS_ORIGIN=http://localhost:3000
